<section class="comment">
	<% if (page.comments){ %>
		<% if(theme.disqus.short_name) { %>
			<div id="disqus_thread">
			    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			</div>
			<script type="text/javascript">

			(function() {

				 var uy = document.createElement('script');
				 uy.src = "//<%= theme.disqus.short_name%>" + ".disqus.com/<% if (page.comments){ %>embed.js<% } else { %>count.js<% } %>";

				 (document.getElementsByTagName('head')[0]
				 || document.getElementsByTagName('body')[0]).appendChild(uy);

			})();
		</script>
		<% } %>
	<% } %>
</section>

