
    <footer id="footer">
    	<br />
        <small>this blog power by <a href="https://hexo.io/" target="_blank">Hexo</a><br />
        <small>&copy; 2014 <%= config.author %></small>
    </footer>

    <%- partial('baidu-analytics') %>
    
</body>
</html>
